## File 1
### This python file contains code for loading the log data, parsing, cleaning, exploring, filtering and exporting it as a CSV file for further operations.

In [ ]:
#############################################################################################################################

In [ ]:
## LOADING AND PARSING THE DATA LOG FILE

In [ ]:
import pandas as pd
list1 = []
f = open("BGL.log","r", encoding="utf-8", errors='strict')
f = f.readlines()
for line in f:
    try:
        list1.append(line)
    except ValueError:
        print('Error in line :' + line)

In [ ]:
for i in range(len(list1)):
    list1[i] = list1[i].split(' ')

In [ ]:

for i in range(len(list1)):
    list1[i][len(list1[i])-1] = list1[i][len(list1[i])-1].replace('\n', '')

In [ ]:

for i in range(0, len(list1)):
    list1[i][9:len(list1[i])] = [" ".join(list1[i][9:len(list1[i])])]

In [ ]:
df = pd.DataFrame(list1, columns = ['Dash', 'Id1', 'Date', 'Id2', 'Time', 'Id3', 'RAS', 'Kernel', 'INFO', 'Message'])

In [ ]:
# EXPLORING THE DATA

In [ ]:
df.shape

(4747963, 10)

In [ ]:
df.head()

,Dash,Id1,Date,Id2,Time,Id3,RAS,Kernel,INFO,Message
0,-,1117838570,2005.06.03,R02-M1-N0-C:J12-U11,2005-06-03-15.42.50.363779,R02-M1-N0-C:J12-U11,RAS,KERNEL,INFO,instruction cache parity error corrected
1,-,1117838570,2005.06.03,R02-M1-N0-C:J12-U11,2005-06-03-15.42.50.527847,R02-M1-N0-C:J12-U11,RAS,KERNEL,INFO,instruction cache parity error corrected
2,-,1117838570,2005.06.03,R02-M1-N0-C:J12-U11,2005-06-03-15.42.50.675872,R02-M1-N0-C:J12-U11,RAS,KERNEL,INFO,instruction cache parity error corrected
3,-,1117838570,2005.06.03,R02-M1-N0-C:J12-U11,2005-06-03-15.42.50.823719,R02-M1-N0-C:J12-U11,RAS,KERNEL,INFO,instruction cache parity error corrected
4,-,1117838570,2005.06.03,R02-M1-N0-C:J12-U11,2005-06-03-15.42.50.982731,R02-M1-N0-C:J12-U11,RAS,KERNEL,INFO,instruction cache parity error corrected

In [ ]:
# REMOVING COLUMNS THAT ARE NOT REQUIRED

In [ ]:
df.drop(["Time", "Date", "Id2", "Id3", "RAS", "Kernel", "INFO"], axis=1, inplace=True)

In [ ]:
# MORE DATA WRANGLING

In [ ]:
df.rename(columns={"Dash": "Anomaly Status"}, inplace=True)

In [ ]:
df.head(2)

  Anomaly Status         Id1                                   Message
0              -  1117838570  instruction cache parity error corrected
1              -  1117838570  instruction cache parity error corrected

In [ ]:
anomaly_list = df['Anomaly Status'].unique()

In [ ]:
for i in range(len(anomaly_list)):
  if anomaly_list[i] == '-':
    df['Anomaly Status'] = df['Anomaly Status'].str.replace(anomaly_list[i],'0')
  else:
    df['Anomaly Status'] = df['Anomaly Status'].str.replace(anomaly_list[i],'1')

In [ ]:
df.head()

  Anomaly Status         Id1                                   Message
0              -  1117838570  instruction cache parity error corrected
1              -  1117838570  instruction cache parity error corrected
2              -  1117838570  instruction cache parity error corrected
3              -  1117838570  instruction cache parity error corrected
4              -  1117838570  instruction cache parity error corrected

### Now, we will create multiple datasets, basically filtering it to reduce the number of rows and overall data for convenience.

In [ ]:
df1 = df[0:4000]

In [ ]:
df2 = df[4900:9500]

In [ ]:
df3 = df[22900:23600]

In [ ]:
df4 = df[225000:230000]

In [ ]:
df5 = df[391000:397000]

In [ ]:
df6 = df[530000:535000]

In [ ]:
df7 = df[546000:550000]

In [ ]:
df8 = df[559000:563000]

In [ ]:
df9 = df[590000:595000]

In [ ]:
df10 = df[700000:703000]

In [ ]:
df11 = df[710000:711000]

In [ ]:
df12 = df[850000:854000]

In [ ]:
df13 = df[950000:956000]

In [ ]:
df14 = df[1050000:1053000]

In [ ]:
df15 = df[1250000:1254000]

In [ ]:
df16 = df[1490000:1492500]

In [ ]:
df17 = df[2980000:2984000]

In [ ]:
df18 = df[2989000:2992000]

In [ ]:
df19 = df[2920000:2925000]

In [ ]:
df20 = df[3020000:3026000]

In [ ]:
df21 = df[3230000:3236500]

In [ ]:
df22 = df[3330000:3333500]

In [ ]:
df23 = df[3530000:3535000]

In [ ]:
df24 = df[4130000:4135000]

In [ ]:
df25 = df[4240000:4245000]

In [ ]:
df26 = df[4340000:4345000]

In [ ]:
df27 = df[4540000:4544000]

In [ ]:
df28 = df[4640000:4645000]

In [ ]:
df29 = df[4670000:4679000]

In [ ]:
df30 = df[4741963:4747963]

In [ ]:
df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, df14, df15, df16, df17, df18, df19, df20,
                df21, df22, df23, df24, df25, df26, df27, df28, df29, df30])

In [ ]:
df.shape

(133800, 3)

In [ ]:
# NOW< EXPORTING IT AS CSV FILE

In [ ]:
df.to_csv(r'bgl.csv', index = False, header=True)